<div class="container">
  <div class="background">
    <ngx-loading [show]="loader"></ngx-loading>
    <div class="container-home" *ngIf="loader === false">
      <div class="my-info">
        <h4>Mes informations personnelles :</h4>
        <div>Email : {{ this.data["email"] }}</div>
        <div>Nom d'utilisateur : {{ this.data["account"]["username"] }}</div>
        <div>Date de naissance : {{ this.dateOfBirth }}</div>
        <div>Famille : {{ this.data["account"]["subfamily"] }}</div>
        <div>Race : {{ this.data["account"]["breed"] }}</div>
        <div>Plat préféré : {{ this.data["account"]["food"] }}</div>
        <div>
          Mes amis :
          <li *ngFor="let friend of friends">
            {{ friend.username }} -
            {{ friend.breed }}
          </li>
        </div>
        <button (click)="logout()" class="btn">Se déconnecter</button>
      </div>
      <div class="img-friends">
        <img class="image" src="../../assets/cute-pangolin.webp" alt="" />
        <form
          class="friends"
          [formGroup]="addFriendsForm"
          (ngSubmit)="updateFriends()"
        >
          <div class="form-group">
            <label>Pour ajouter ou supprimer un ami de votre liste :</label>
            <input type="text" class="form-control" formControlName="friends" />
          </div>
          <button type="submit" class="btn btn-primary">
            Modifier mes amis
          </button>
        </form>
      </div>
      <div class="home-wrapper">
        <form class="form" [formGroup]="updateForm" (ngSubmit)="update()">
          <div class="info-arrow">
            Pour modifier vos infos c'est par ici
            <img class="arrow" src="../../assets/down-arrow.svg" alt="arrow" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="form-group">
            <label>Mot de passe</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div class="form-group">
            <label>Nom d'utilisateur</label>
            <input
              type="password"
              class="form-control"
              formControlName="username"
            />
          </div>
          <div class="form-group">
            <label>Date de Naissance</label>
            <input
              type="date"
              class="form-control"
              formControlName="dateOfBirth"
            />
          </div>
          <div class="form-group">
            <label>Famille</label>
            <select formControlName="subfamily">
              <option value="">--Please choose an option--</option>
              <option value="Asiatique">Asiatique</option>
              <option value="Africain">Africain</option>
            </select>
          </div>
          <div class="form-group">
            <label>Race</label>
            <input type="text" class="form-control" formControlName="breed" />
          </div>
          <div class="form-group">
            <label>Plat préféré</label>
            <input type="text" class="form-control" formControlName="food" />
          </div>
          <button type="submit" class="btn btn-primary">
            Modifier mes infos
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
